.app-title {
  text-align: center;
  padding: 1em 0;
  margin: 0.5em;
  color: #ee5f28;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 200%;
  letter-spacing: 2px;
}

.right-drag {
  border: 1px dashed #95a5a6;
  overflow: scroll;
  height: 80vh;
  display: inline-block;
  width: 70%;
  padding-top: 0;
  padding-right: 0;
  margin-left: 5%;
}

.left-drag {
  overflow: scroll;
  height: 80vh;
  width: 25%;
  display: inline-block;
}

.delete {
  top: -26px;
  right: -18px;
  border-bottom-left-radius: 34px;
  border-top-left-radius: 34px;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
}
