.app-title {
  text-align: center;
  padding: 1em 0;
  margin: 0.5em;
  color: #ee5f28;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 200%;
  letter-spacing: 2px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.presentation {
  transition: "ease-in-out";
  animation: fadeIn 2s;
  overflow: hidden;
}
