.remove-preview {
  float: left;
  cursor: pointer;
  outline: none;
  position: relative;
  vertical-align: top;
  width: 100%;
  top: -18px;
  background-color: #34495e;
  border-bottom-left-radius: 34px;
  border-top-left-radius: 34px;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
  opacity: 0;
}

article:hover > .remove-preview {
  opacity: 1;
}
